@font-face {
    font-family: 'trueno';
    src: url('../fonts/trueno/TruenoRg.otf');
}

@font-face {
    font-family: 'trueno-bold';
    src: url('../fonts/trueno/TruenoBd.otf');
}

@font-face {
    font-family: 'trueno-smbold';
    src: url('../fonts/trueno/TruenoSBd.otf');
}

@font-face {
    font-family: 'trueno-lite';
    src: url('../fonts/trueno/TruenoUltLt.otf');
}

@font-face {
    font-family: 'mont-sbold';
    src: url('../fonts/montserrat/Montserrat-SemiBold.otf');
}

@font-face {
    font-family: 'mont-thin';
    src: url('../fonts/montserrat/Montserrat-Thin.otf');
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway/Raleway-Bold.ttf');
}