:root{
    --pry-color: #FFEA00;
    --pry-font: 'trueno-lite', sans-serif;
    --sec-font: 'raleway', sans-serif;
    --pry-font-rg: 'trueno', sans-serif;
    --pry-font-bold: 'trueno-bold', sans-serif;
    --pry-font-smbold: 'trueno-smbold', sans-serif;
    --sec-font-bold: 'raleway-bold', sans-serif;
}

body{
    font-family: var(--pry-font);
}

.pry-color{
    color: var(--pry-color);
}
.sec-color{
    color: black;
}
.pry-bg-color{
    color: black;
    background: var(--pry-color);
}
.p-bold-font{
    font-family: var(--pry-font-bold);
}
.p-smbold-font{
    font-family: var(--pry-font-smbold);
}
.pad0{
    padding: 0 !important;
}
#home{
    margin-top: 70px;
}
.main-div{
    position: relative;
    margin-top: 30%;
}
.main-div p{
    font-size: 20px;
    margin-top: 30px;
}
hr.line{
    width: 40px;
    position: relative;
    top: -10px;
    margin-right: 20px;
    height: 3px;
    background: var(--pry-color);
    border: none;
}
.weare{
    display: flex;
    font-size: 18px;
    font-family: var(--sec-font-bold);
}
.main-header{
    font-family: var(--pry-font-bold);
    font-size: 8rem;
    letter-spacing: -5px;
}
.icon-img img{
    width: 60%;
}
#about{
    margin-top: 20px;
}
.abt-title{
    height: 50px;
}
.header-txt{
    margin-bottom: 25px;
    margin-top: 0;
}

@media(min-width: 767px){
    main.width-adj{
        width: 98%;
        margin-left: 1%;
    }
}