<template>
    <nav class="navbar navbar-blue navbar-fixed-top">
        <div class="col-xs-12 pad0">
            <div class="col-xs-6 pad0">
                <img src="img/logo1.png" alt="Pushupinc">
            </div>
            <div class="col-xs-6 pad0 text-right">
                <img src="img/menu.png" alt="menu" class="menu-btn">
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: 'NavbarComp'
    }
</script>

<style scoped>
    img{
        width: 9%;
        max-width: 80px;
        min-width: 60px;
    }
    .menu-btn{
        cursor: pointer;
    }
</style>



