<template>
    <div id="slider" class="slides">
        <div class="slider text-center">
            <img src="img/banner1.png" alt="slide1" width="100%">
        </div>
    </div>
</template>

<script>
export default {
    name: 'slider'
}
</script>

